/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********my design*********/
*{
	box-sizing: border-box;
}

body::-webkit-scrollbar { 
	display: none !important;
}

*:focus{
	outline:none;
}

body{
	user-select: none;
	font-family:"Century Gothic",arial,sans-serif;
	position: relative;
}

.greeting{
	width: 100%;
	height: 100%;
	padding: 10% 10% 15% 10%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
	background-color: rgb(0, 0, 0, 0.4);
}


.path{
	fill: none !important;
	stroke: whitesmoke;
	stroke-width: 0.2 !important;
}

.path-line{
	transition: opacity 1s ease-out, stroke-width 1s linear, fill 1s linear, stroke-dashoffset 2.5s ease-in-out !important;
	stroke-width: 0;
	opacity: 0.5;
}

.path-back{
	opacity: 1;
	fill: none;
}



li{
	transition: opacity .5s;
}

.sibling-fade:hover li:not(:hover){
	opacity: 0.5;
}

.flex-container-top{
	height: 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#logo1{
	margin-left: 77px;
	width: 26px;
	height: 23px;
	background-image: url("img/LOGO02-01-01.png");
	background-size: cover;
}

#logo2{
	margin-left: 100px;
	width: 102px;
	height: 20px;
	background-image: url("img/typo01-01-01.png");
	background-size: cover;
}

#logo2 h1{
	width: 100%;
	height: 100%;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}

.flex-container-top ul > li> a{
	transition: background-color .1s ease-in, color .1s ease-in;
	border-radius: 5px;
}

.flex-container-top ul{
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(-35px);
}

#howItWork{
	margin-left: auto;
	text-align: center;
	width: 180px;
	height: 25px;
	line-height: 25px;
}
#howItWork a{
	width: 100%;
	height: 100%;
	display: block;
	font-weight: bolder;
	color: seashell;
	background-color: rgba(0, 0, 0, 0.4);
	text-decoration: none;
}

#AboutUs, #Contact{
	text-align: center;
	width: 150px;
	height: 25px;
	line-height: 25px;
	background-color: white;
}

#Contact{
	margin-right: auto;
}

#AboutUs a, #Contact a{
	width: 100%;
	height: 100%;
	display: block;
	color: rgba(41, 36, 150, 1.0);	
	background-color: white;
	text-decoration: none;
}

#AboutUs a:hover, #Contact a:hover{
	font-weight: bolder;
}

#AboutUs a:active, #Contact a:active{
	color:white;
	background-color: rgba(0, 0, 0, 0.4);
}

.sibling-hover:active a:not(:active){
	font-weight: none !important;
	color: rgba(41, 36, 150, 1.0) !important;
	background-color: white !important;
}

#searchForm{
	margin-right: 77px;
}

#searchText{
	padding: 0px 10px;
	color: rgba(41, 36, 150, 1.0);
	resize: none;
	border: 1px  rgba(41, 36, 120, 1.0) solid;
	border-radius: 20px 0px 0px 20px;
	height: 20px;
	overflow: hidden;
	outline: none;
	font-family: inherit;
	font-size: inherit;
	white-space: pre-wrap;
	text-indent: .5px;
	text-align: start;
}

#submit{
	border: 1px rgba(41, 36, 120, 1.0) solid;
	border-radius: 0px 20px 20px 0px;
	background-image: url(img/search-01-01.png);
	background-size: cover;
	background-position: center;
	width: 25px;
	height: 20px;
	margin-left: -4.5px;
	outline: none;
}

.container-middle{
	height: 530px;
	overflow: visible;
	position: relative;
	transition: transform .25s ease-in;
}



#leftRed{
	/* background-color: orangered; */
	float: left;
	border-radius: 0px 50% 50% 0px;
	background-image: url(img/Left-orange-01-01.png);
	background-size: cover;
	background-position: center;
	height: 530px;
	width: 530px;
	transform: translateX(-300px);
	margin-right: auto;
	position: relative;
}

#goodTrip{
	position: absolute;
	width: 178px;
	height: 174px;
	top: 35%;
	left: 18%;
	font-weight: bolder;
	line-height: 43px;
	color: white;
	font-size: 30px;
	text-align: center;
	letter-spacing: 2px;
}

#rightBlue{
	float: right;
	background-image: url(img/Right-blue-01-01.png);
	background-size: cover;
	background-position: center;
	border-radius: 50% 0px 0px 50%;
	height: 530px;
	width: 530px;
	transform: translateX(+300px);
	margin-left: auto;
	position: relative;
}

#niceFly{
	position: absolute;
	width: 108px;
	height: 174px;
	top: 35%;
	right: 18%;
	font-weight: bolder;
	line-height: 43px;
	color: white;
	font-size: 30px;
	text-align: center;
	letter-spacing: 2px;
}


#topWord{
	position: absolute;
	width: 442px;
	left: center;
	top: 30px;
	height: 82px;
	width: 100%;
	background-image: url(img/Mid-word-01-01.png);
	background-repeat: no-repeat;
	background-position: center;
	z-index: 2;
}

#mainImg{
	position: absolute;
	width: 442px;
	left: center;
	top: 105px;
	height: 442px;
	width: 100%;
	background-image: url(img/Mid-Pic-all-01-01.png);
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;
}

#blueBar2{
	background-image: url(img/Asset\ 7.png);
	background-size: cover;
	background-position: center;
	height: 531px;
	width: 1108px;
	position: absolute;
	right: 0px;
	transform: translateX(+300px);
	transition: opacity 400ms;
}

#blueMan{
	background-image: url(img/Asset\ 8.png);
	background-size: cover;
	background-position: center;
	height: 435px;
	width: 275px;
	position: absolute;
	left: -20%;
	bottom: 0px;
}

#redGirl{
	background-image: url(img/Asset\ 11.png);
	background-size: cover;
	background-position: center;
	height: 406px;
	width: 304px;
	position: absolute;
	right: -10%;
	bottom: 0px;
}
#redGirl.slideInFromRight{
	right: 29%;
	transition: right 2s cubic-bezier(0.2, 0.3, 0.5, 0.8);
}


#blueMan.slideInFromLeft{
	left: 31%;
	transform: rotateZ(5deg);
	transition: left .8s cubic-bezier(0.5, 0.2, 0.5, 0.7), transform .4s cubic-bezier(0.1, 0.2, 0.3, 0.7);
}
#blueMan.rotated{
	transform: rotateZ(0deg);
	transition: left .3s ease-out, transform .3s cubic-bezier(0.7, 0.5, 0.1, 0.1);
}
.manShake{
	animation-name: manRotate;
	animation-duration: 1s;
}
@keyframes manRotate{
	25%{
		transform: rotate(-3deg);
	}
	50%{
		transform: rotate(3deg);
	}
	75%{
		transform: rotate(-3deg);
	}
	100%{
		transform: rotate(0deg);
	}
}

#orangeBar2{
	background-image: url(img/Asset\ 10.png);
	background-size: cover;
	background-position: center;
	height: 531px;
	width: 1108px;
	position: absolute;
	left: 0px;
	transform: translateX(-300px);
	transition: opacity 400ms;
}

#blueList{
	width: 178px;
	height: 446px;
	position: absolute;
	right: -12%;
	top: 6%;
}

#redList{
	width: 178px;
	height: 446px;
	position: absolute;
	left: -12%;
	top: 6%;
}

#redList>ul, #blueList>ul{
	width: 100%;
	height: 100%;
	z-index: 0;
}

#redList>ul>li, #blueList>ul>li{
	float: left;
	width: 89px;
	height: 89px;
	padding: 7.5px;
	transition: padding .2s;
}

#redList>ul>li:hover, #blueList>ul>li:hover{
	padding: 0px;
}

#redList>ul>li a, #blueList>ul>li a{
	display: block;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}


#redList>ul>li a:hover, #blueList>ul>li a:hover{
	box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	outline: none;
	text-decoration: none;
	transform: rotate(2deg);
	transition: transform .2s;
}

#redList>ul>li:nth-child(1) a{
	background-image: url(img/redList/redList1.png);
}
#redList>ul>li:nth-child(2) a{
	background-image: url(img/redList/redList6.png);
}
#redList>ul>li:nth-child(3) a{
	background-image: url(img/redList/redList2.png);
}
#redList>ul>li:nth-child(4) a{
	background-image: url(img/redList/redList7.png);
}
#redList>ul>li:nth-child(5) a{
	background-image: url(img/redList/redList3.png);
}
#redList>ul>li:nth-child(6) a{
	background-image: url(img/redList/redList8.png);
}
#redList>ul>li:nth-child(7) a{
	background-image: url(img/redList/redList4.png);
}
#redList>ul>li:nth-child(8) a{
	background-image: url(img/redList/redList9.png);
}
#redList>ul>li:nth-child(9) a{
	background-image: url(img/redList/redList5.png);
}
#redList>ul>li:nth-child(10) a{
	background-image: url(img/redList/redList10.png);
}

#blueList>ul>li:nth-child(1) a{
	background-image: url(img/blueList/blueList1.png);
}
#blueList>ul>li:nth-child(2) a{
	background-image: url(img/blueList/blueList2.png);
}
#blueList>ul>li:nth-child(3) a{
	background-image: url(img/blueList/blueList3.png);
}
#blueList>ul>li:nth-child(4) a{
	background-image: url(img/blueList/blueList4.png);
}
#blueList>ul>li:nth-child(5) a{
	background-image: url(img/blueList/blueList5.png);
}
#blueList>ul>li:nth-child(6) a{
	background-image: url(img/blueList/blueList6.png);
}
#blueList>ul>li:nth-child(7) a{
	background-image: url(img/blueList/blueList7.png);
}
#blueList>ul>li:nth-child(8) a{
	background-image: url(img/blueList/blueList8.png);
}
#blueList>ul>li:nth-child(9) a{
	background-image: url(img/blueList/blueList9.png);
}
#blueList>ul>li:nth-child(10) a{
	background-image: url(img/blueList/blueList10.png);
}


.mapRed{
	width: 478px;
	height: 358px;
	position: absolute;
	background-image: url(img/Asset\ 12.png);
	background-size: cover;
	background-position: center;
	left: 10%;
	top: 20%;
}

.mapBlue{
	width: 478px;
	height: 358px;
	position: absolute;
	background-image: url(img/Asset\ 9.png);
	background-size: cover;
	background-position: center;
	right: 10%;
	top: 20%;
}

.outLayerRed, .outLayerBlue{
	width: 100%;
	height: 100%;
	position: relative;
}

.blueTag, .redTag{
	position: absolute;
	width: 30px;
	height: 30px;
}
.outLayerBlue .blueTag:nth-of-type(1){
	left: 36.8%;
	top: 47.2%;
}
.outLayerBlue .blueTag:nth-of-type(2){
	left: 36.8%;
	top: 69%;
}
.outLayerBlue .blueTag:nth-of-type(3){
	left: 21.6%;
	top: 25.7%;
}
.outLayerBlue .blueTag:nth-of-type(4){
	left: 36.8%;
	top: 25.7%;
}
.outLayerBlue .blueTag:nth-of-type(5){
	left: 64%;
	top: 69%;
}
.outLayerBlue .blueTag:nth-of-type(6){
	left: 21.6%;
	top: 90.4%;
}
.outLayerBlue .blueTag:nth-of-type(7){
	left: 36.8%;
	top: 90.4%;
}
.outLayerBlue .blueTag:nth-of-type(8){
	left: 64%;
	top: 4%;
}
.outLayerBlue .blueTag:nth-of-type(9){
	left: 64%;
	top: 90.4%;
}
.outLayerBlue .blueTag:nth-of-type(10){
	left: 64%;
	top: 25.7%;
}
.outLayerBlue .blueTag:nth-of-type(11){
	left: 21.6%;
	top: 69%;
}
.outLayerBlue .blueTag:nth-of-type(12){
	left: 71%;
	top: 69%;
}
.outLayerBlue .blueTag:nth-of-type(13){
	left: 64%;
	top: 47.2%;
}



.outLayerRed .redTag:nth-of-type(1){
	left: 46.9%;
	top: 90.4%;
}
.outLayerRed .redTag:nth-of-type(2){
	left: 53.7%;
	top: 90.4%;
}
.outLayerRed .redTag:nth-of-type(3){
	left: 46.9%;
	top: 69%;
}
.outLayerRed .redTag:nth-of-type(4){
	left: 21.6%;
	top: 47.2%;
}
.outLayerRed .redTag:nth-of-type(5){
	left: 36.8%;
	top: 25.7%;
}
.outLayerRed .redTag:nth-of-type(6){
	left: 21.6%;
	top: 69%;
}
.outLayerRed .redTag:nth-of-type(7){
	left: 21.6%;
	top: 90.4%;
}
.outLayerRed .redTag:nth-of-type(8){
	left: 93%;
	top: 90.4%;
}
.outLayerRed .redTag:nth-of-type(9){
	left: 60.5%;
	top: 69%;
}
.outLayerRed .redTag:nth-of-type(10){
	left: 53.7%;
	top: 69%;
}
.outLayerRed .redTag:nth-of-type(11){
	left: 46.9%;
	top: 4%;
}
.outLayerRed .redTag:nth-of-type(12){
	left: 60.5%;
	top: 25.7%;
}
.outLayerRed .redTag:nth-of-type(13){
	left: 60.5%;
	top: 90.4%;
}


.show-tag{
	z-index: 99;
	animation-name: drop;
	animation-duration: 1s;
}

@keyframes drop{
	0%{
		transform: translateY(-70px);
		opacity: 0;
	}
	10%{
		transform: translateY(-60px);
	}
	20%{
		transform: translateY(-45px);
	}
	30%{
		transform: translateY(0px);
	}
	50%{
		transform: translateY(-15px);
	}
	70%{
		transform: translateY(0px);
	}
	80%{
		transform: translateY(-5px);
	}
	90%{
		transform: translateY(0px);
	}
	95%{
		transform: translateY(-3px);
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}
.hide-tag{
	opacity: 0;
	z-index: 0;
	transition: opacity 400ms;
}

.show-imme{
	opacity: 1;
	z-index: 99;
}
.hide-imme{
	opacity: 0;
	z-index: 0;
}
.show {
	opacity: 1;
	transition: opacity 400ms;
	z-index: 99;
}
.hide {
	opacity: 0;
	z-index: 0;
	transition: opacity 400ms;
}

.flex-container-footer{
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	position: relative;
}

.flex-container-footer ul{
	margin-right: auto; 
	margin-left: 77px;
	height: 100%;
}

.flex-container-footer ul li{
	float: left;
	padding: 30px 0px;
	height: 100%;
	width: 50px;
	margin-right: 10px;
}

.flex-container-footer ul li:nth-of-type(1){
	width: 75px;
}

.flex-container-footer>ul>li>a{
	display: block;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	text-decoration: none;
}
#followUs{
	text-decoration: none;
	line-height: 40px;
	font-weight: bold;
	color: gray;
}
#fbIcon{
	background-image: url(img/ICON-FB-01-01.png);
}
#twitter{
	background-image: url(img/ICON-TWEET-01-01-01.png);
}
#youtube{
	background-image: url(img/ICON-YOUTUBE-01-01-01-01.png);
}


.selectBar{
	margin: auto;
	width: 235px;
	height: 45px;
	background-image: url(img/below-bar-01.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 28px;
	left: center;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 98;
}
#selector{
	width: 40px;
	height: 40px;
	background-image: url(img/Question-Mark-bar-01-01.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.5;
	transition: opacity .25s ease-in-out, margin-left .3s ease-out;
}

#selector:hover, #selector:focus{
	opacity: 0.8;
}

.redHelpButton, .blueHelpButton{
	margin: auto;
	width: 257px;
	height: 46px;
	position: absolute;
	top: 28px;
	left: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	color: white;
	font-weight: bold;
	box-shadow: 1px 1px 1px 1px gray;
	cursor: pointer;
}
.redHelpButton:active, .blueHelpButton:active{
	box-shadow: .5px .5px .5px .5px gray;
}

.redHelpButton{
	background-color: #E56C4E;
}

.blueHelpButton{
	background-color: #4080B8;
}

.help{
	margin-right: auto;
	float: left;
	margin-left: 77px;
	height: 100%;
	width: 33px;
	padding: 30px 0px;
}

.help.hide-div{
	display: none;
	opacity: 0;
	transform: opacity 400ms;
}


.language{
	margin-left: auto;
	float: right;
	margin-right: 77px;
	height: 100%;
	width: 75px;
	padding: 30px 0px;
}
.language a, .help a{
	display: block;
	text-decoration: none;
	color: gray;
	line-height: 40px;
	font-weight: bold;
}

.clearfix::after{
	content: "";
	clear: both;
	display: block;
}

